<fieldset>
<legend>Testimonials</legend>

<table>

<% for testimonial in @testimonials %>
  <tr>
    <th><%= testimonial.title %> </th>
  </tr>

  <tr>
    <td><%= raw(testimonial.body) %></td>
  </tr>
<% end %>
</table>

<br />

</fieldset>

<%= link_to "New Testimonial", new_admin_testimonial_url %>