<h3 align="center">Privacy Policy</h3>

There is nothing here</p>

<ol>

<li>
	Mary had a little lamb.
</li> 

<li>
	Little piggy went to the market
</li> 
</ol>

<p class="highlight">Learn to write and get rich quick<p>

<p>
Become a Ninja coder and take over world!
</p>

<p class="highlight"> You can relax now.</p>

<p align="right">
<a href="#" class="lbAction" rel="deactivate" >Close Window</a>	
</p>
